<div id='insight' class='start'>
	<p class='welcome'>Welcome to HUE HUNT<br/>A color game for hawk-eyed designers!</p>
	<div id='mission'>
		<h2>Your mission</h2>
		<div class='flexrow'>
			<p>Find the Hue, Saturation and Lightness of this color:</p>
		<div class='targetcolor'></div>
		</div>
	</div>
	<div id='ready'>
		<h2>Ready?</h2>
		<!-- Form attempt 1
		<form name='goForm'>
			<div id='playername'>
				<p>Player Name</p>
				<input type='text' name='username' ng-model='goForm.username' required>
			</div>
			<div id='playbutton'>
				<button ng-click='validate(goForm)' role='button'>Play</button>
			</div>
		</form>
		-->
		
		<!-- Form attempt 2
		<div id='playername'>
			<p>Player Name</p>
			<p>{{go.username}}</p>
			<input type='text' ng-model='go.username'>
		</div>
		<div id='playbutton'>
			<button ng-click='go.validate(go.username)' role='button'>Play</button>
		</div>
		-->
		
		<div id='playbutton'>
			<a href='#/{{cH}}/{{cS}}/{{cL}}'>Play</a>
		</div>
		
		<!-- Form attempt 3
		<p>I am {{whoAmI}}</p>
		<p>{{formgo.toSource()}}</p>
		<form name="formName" role="search" ng-submit="formgo()" novalidate>
			<div>
				
				<p>{{formgo.toSource()}}</p>
				<input ng-model="inputName" type="text" required>
			</div>
			
			<p>{{formgo.toSource()}}</p>
			<button role='button' type="submit">Get Started!</button>
		</form>
		-->
	</div>
	<div id='reminder'>
		<h2>Reminder</h2>
		<p>An HSL color value is specified with: <strong>HSL(hue, saturation, lightness)</strong>.</p>
		<p>&#8226; Hue is a degree on the color wheel, from 0 to 360. 0 (or 360) is red, 120 is green, 240 is blue.</p>
		<p>&#8226; Saturation is a percentage value. 0% means a shade of gray and 100% is the full color.</p>
		<p>&#8226; Lightness is also a percentage. 0% is black, 100% is white</p>
	</div>
</div>