/**
 * CSS for Hue Hunt
 * Colors
 * Alexandre Andrieux @2015 (September)
 */

body {background: #111;}
p {color: #ddd;}

/** Header **/
#header {
  background: #222;
}
#header #user #avatar {
  /* Defined in template */
}
.targetcolor {
  /* Defined in template */
}

/** Insight **/
#insight {
  /* Defined in template */
}
#insight #current {
  /* Defined in template (no more) */
}
#insight #current p {
  text-shadow: black 0px 0px 5px;
}

/** Clue **/
#clue {
  background: #222;
}

/** Instructions **/
#instructions {
  background: #333;
}

/** Footer **/
#footer {
  /*box-shadow: black 0px 0px 10px;*/
  /*background: linear-gradient(to right, hsl(0, 0%, 10%), hsl(0, 0%, 20%), hsl(50, 50%, 0%));*/
  
}

#footer p {
  color: #555;
}
