/**
 * CSS for Hue Hunt
 * /hsl
 * Alexandre Andrieux @2015 (October)
 */

/** Useful class **/
.hslinput {
  background: #181818;
  border: none;
  border-radius: 2px;
  font-size: 2em;
  width: 60px;
  text-align: center;
  color: #ddd;
}
.hslinput:focus {
  background: #282828;
}
/** Header **/
#header {
   height: 100px;
   width: 100%;
  background: #222;
}
#header #user {
  width: 20%;
}
#avatar {
   /* Colors defined in controllers */
   width: 50px;
   height: 50px;
   margin: 0px 10px;
   border-radius: 12.5px;
   border: solid 3px #111;
   overflow: hidden;
   position: relative;/* For kids */
}
#avatar .square {
   position: absolute;
   width: 25px;
   height: 25px;
}
#avatar .square:nth-of-type(1) {
   top: 0;
   left: 0;
}
#avatar .square:nth-of-type(2) {
   top: 0px;
   left: 25px;
}
#avatar .square:nth-of-type(3) {
   top: 25px;
   left: 0px;
}
#avatar .square:nth-of-type(4) {
   top: 25px;
   left: 25px;
}
#header #user p.username {
   font-size: 2.5em;
}
#header #target {
   width: 30%;
}
#header #target p {
   font-size: 1.7em;
}
#header #shots {
   width: 20%;
}
#header #shots p.taken {
   font-size: 1.7em;
}
#header #shots p.shotscount {
   font-size: 2.5em;
}

/** Interactionarea **/
#interactionarea {
  background: #222;
  width: 100%;
  padding: 10px 0px;
}
#controls > div {
  width: 120px;
  height: 120px;
  margin: 0px 10px;
  border-radius: 50%;
  box-shadow: #111 -10px 0px 5px;
}
#controls > div p {
  font-size: 1.8em;
  margin-left: 2px;
}
#scontrol input,
#lcontrol input {
  width: 50px;
  font-size: 1.8em;
}

@keyframes huerot {
  from {filter: hue-rotate(-70deg);}
  to {filter: hue-rotate(70deg);}
}
@-webkit-keyframes huerot {
  from {-webkit-filter: hue-rotate(0deg);}
  to {-webkit-filter: hue-rotate(100deg);}
}
#hcontrol {
  background: radial-gradient(circle closest-side, #181818, #181818, #181818, #181818, #181818, #181818, #181818, hsl(220,50%,30%), hsl(220,50%,37%), hsl(220,50%,20%));
  -webkit-animation: huerot 3s linear alternate infinite;
  animation: huerot 3s linear alternate infinite;
}
@keyframes satrot {
  from {filter: saturate(100%);}
  50% {filter: saturate(0%);}
  to {filter: saturate(100%);}
}
@-webkit-keyframes satrot {
  from {-webkit-filter: saturate(0%);}
  50% {-webkit-filter: saturate(100%);}
  to {-webkit-filter: saturate(0%);}
}
#scontrol {
  background: radial-gradient(circle closest-side, #181818, #181818, #181818, #181818, #181818, #181818, #181818, hsl(220,100%,30%), hsl(220,100%,37%), hsl(220,100%,20%));
  -webkit-animation: satrot 3s infinite;
  animation: satrot 3s infinite;
}
@keyframes ligrot {
  from {filter: brightness(130%);}
  50% {filter: brightness(50%);}
  to {filter: brightness(130%);}
}
@-webkit-keyframes ligrot {
  from {-webkit-filter: brightness(150%);}
  50% {-webkit-filter: brightness(50%);}
  to {-webkit-filter: brightness(150%);}
}
#lcontrol {
  background: radial-gradient(circle closest-side, #181818, #181818, #181818, #181818, #181818, #181818, #181818, hsl(220,50%,30%), hsl(220,50%,37%), hsl(220,50%,20%));
  -webkit-animation: ligrot 3s linear infinite;
  animation: ligrot 3s linear infinite 1.5s;
}
#guess {
  width: 100px;
  background: hsl(200, 80%, 40%);
  height: 20px;
}
