/**
 * CSS for Hue Hunt
 * /win
 * Alexandre Andrieux @2015 (September)
 */

/** Useful class **/
.shotcolor {
  width: 30px;
  height: 30px;
  margin: 0px 2px;
  border-radius: 4px;
  border: solid #111 2px;
}

#insight.win {
  padding: 20px 10px;
  background: #222;
  flex-basis: 900px;
}
#insight.win h3 {
  color: #eee;
  font-family: Poiret One;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 1em;
  text-transform: uppercase;
  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0));
}
#insight.win .leftside,
#insight.win .rightside {
  display: inline-block;
  vertical-align: middle;
}
#insight.win .leftside > div {
  margin-top: 20px;
}
#insight.win .leftside h2 {
  margin-top: 30px;
}
#insight.win p.success {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0px 0px 30px;
  font-family: Poiret One;
}
#answer .shotcolor {
  width: 40px;
  height: 40px;
}

#answer p {
  margin-left: 10px;
  font-size: 2em;
}
#shotstaken {

}
#shotstaken p {
  font-size: 1.2em;
  font-weight: bold;
}
#shotcolors {
  flex-flow: row wrap;
}
#shotcolors .shotcolor {
  position: relative;
}
#shotcolors .shotcolor p.colordetails {
  position: absolute;
  top: 33px;
  font-size: 1em;
  left: -60px;
  width: 150px;
  display: none;
}
#shotcolors .shotcolor:hover {
  border-color: transparent;
}
#shotcolors .shotcolor:hover p.colordetails {
  display: inherit;
}

/* Achievements */
#insight.win .achievements {

}
#insight.win .achievements .achis > div {
  width: 40px;
  height: 40px;
  background: #444;
  border-radius: 50%;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 2px;
}
#ready h2 {
  margin-bottom: 15px;
}
#highscores {
  width: 420px;
}
#highscores h2 {
  margin-bottom: 10px;
}
#highscores .score p {
  width: 170px;
  font-size: 1.3em;
  margin: 5px;
}
#highscores .score p.username {
  text-align: right;
}
#highscores .score p.performance {
  text-align: left;
}
#highscores .score p.performance span.points {
  font-size: 80%;
}
#highscores .score:nth-of-type(1) p {
  font-size: 2.3em;
}
#highscores .score:nth-of-type(1) .shotcolor {
  width: 45px;
  height: 45px;
}
#highscores .score:nth-of-type(2) p {
  font-size: 1.9em;
}
#highscores .score:nth-of-type(2) .shotcolor {
  width: 40px;
  height: 40px;
}
#highscores .score:nth-of-type(3) p {
  font-size: 1.5em;
}
#highscores .score:nth-of-type(3) .shotcolor {
  width: 35px;
  height: 35px;
}

/* Achievements designs */
#insight.win .achievements .achi.unlocked-true:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 50px;
    transition: box-shadow 500ms;
}
#insight.win .achievements .achi-1 p,
#insight.win .achievements .achi-2 p,
#insight.win .achievements .achi-5 p {
    font-size: 1.6em;
    padding-top: 2px;
    color: #555;
}
#insight.win .achievements .achi-1.unlocked-true {
    background: radial-gradient(hsl(60, 0%, 80%), hsl(30, 0%, 30%));
}
#insight.win .achievements .achi-1.unlocked-true p {
    color: hsl(200, 20%, 30%);
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.3) -1px 1px 0px;
}
#insight.win .achievements .achi-2.unlocked-true {
    background: radial-gradient(hsl(60, 70%, 50%), hsl(30, 70%, 50%));
}
#insight.win .achievements .achi-2.unlocked-true p {
    color: hsl(20, 90%, 30%);
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.3) -1px 1px 0px;
}
#insight.win .achievements .achis .achi-3 {
    background: #555;
}
#insight.win .achievements .achis .achi-3 > div {
    background: radial-gradient(hsl(250, 0%, 30%), hsl(200, 0%, 50%));
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 30%;
}
#insight.win .achievements .achi-3.unlocked-true {
    background: radial-gradient(hsl(180, 70%, 50%), hsl(250, 100%, 50%));
}
#insight.win .achievements .achi-3.unlocked-true > div {
    background: radial-gradient(hsl(250, 50%, 30%), hsl(200, 100%, 50%));
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 30%;
}
#insight.win .achievements .achis .achi-4 {
    background: linear-gradient(to right bottom, hsl(0, 0%, 40%), hsl(20, 0%, 30%), hsl(100, 0%, 40%), hsl(200, 0%, 25%), hsl(270, 0%, 30%), hsl(340, 0%, 20%), hsl(20, 0%, 40%));
}
#insight.win .achievements .achis .achi-4.unlocked-true {
    background: linear-gradient(to right bottom, hsl(0, 80%, 50%), hsl(20, 80%, 50%), hsl(100, 80%, 50%), hsl(200, 80%, 50%), hsl(270, 80%, 50%), hsl(340, 80%, 50%), hsl(20, 80%, 50%));
}
#insight.win .achievements .achi-5.unlocked-true {
    background: radial-gradient(hsl(30, 70%, 50%), hsl(0, 100%, 50%));
}
#insight.win .achievements .achi-5.unlocked-true p {
    color: hsl(0, 90%, 30%);
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.3) -1px 1px 0px;
}
#insight.win .achievements-descriptions {
  height: 40px;
}
#insight.win .achievements-descriptions p {
  display: none;
}
#insight.win .achievements-descriptions p {

}
#insight.win .achievements-descriptions p.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: -5px;
}
