/**
 * CSS for Hue Hunt Results
 *
 * @author Alexandre Andrieux <alex@icosacid.com>
 * @since 03-2016
 */
/** Fonts **/
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
@import url("https://fonts.googleapis.com/css?family=Playball");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
/** Boilerplate style **/
* {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Playball', sans-serif;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}
*:not(input) {
  /* No selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* No unwanted drag */
  -webkit-user-drag: none;
  user-drag: none;
  cursor: default;
}
html,
body {
  height: 100%;
  width: 100%;
}
p {
  white-space: pre-wrap;
}
/** Useful classes **/
.flexcol {
    display: -webkit-flex;/* Safari, douchebag */
    display: -ms-flexbox;/* IE <3 */
    display: flex;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.flexrow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.flexwrap {
    flex-wrap: wrap;
}
.flexcenter {
    /* Centers child elements */
    justify-content: center;
}
/** Base style **/
body {
  background: #DDD;
  background: linear-gradient(#EFEFEF, #D0D0D0);
}
p {
  color: #DDD;
}
/** Page style **/
.huehunt-results {
  height: 100%;
  width: 100%;
  .side-menu {
    background: linear-gradient(to right, #555, #292929);
    background: linear-gradient(hsl(200, 100%, 50%), hsl(200, 100%, 25%)) repeat scroll 0% 0%;
    box-shadow: #555 0px 0px 15px;
    width: 20%;
    height: 100%;
    p.tab {
      padding: 10px 0;
      color: #181818;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: solid 2px #222;
      cursor: pointer;
      &:hover,
      &.selected {
        background: #151515;
        color: hsl(200, 100%, 50%);
      }
    }
  }
  .content {
    position: absolute;
    left: 20%;
    top: 0;
    width: 80%;
    height: 100%;
    .tile-container {
      width: 50%;
      height: 50%;
      background: #333;
      position: relative;
      &:nth-child(2),
      &:nth-child(3) {
        background: #222;
      }
      .data-tile {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        p.data-label {
          font-size: 20px;
          height: 30px;
          color: #DDD;
          text-shadow: rgba(0, 0, 0, 0.5) 0px 0.5px 0px;
        }
        .data-data {
          border-radius: 3px;
          width: 100px;
          height: 66px;
          background: linear-gradient(hsl(200, 100%, 50%), hsl(200, 100%, 35%)) repeat scroll 0% 0%;
        }
        .data-data p {
          font-size: 40px;
          color: #181818;
          font-weight: bold;
          text-shadow: rgba(255, 255, 255, 0.5) 0px 0.5px 0px;
        }
      }
    }
  }
}
