/**
 * CSS for Hue Hunt Results
 *
 * @author Alexandre Andrieux <alex@icosacid.com>
 * @since 03-2016
 */
/** Fonts **/
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
@import url("https://fonts.googleapis.com/css?family=Playball");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
/** Boilerplate style **/
* {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Playball', sans-serif;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}
*:not(input) {
  /* No selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* No unwanted drag */
  -webkit-user-drag: none;
  user-drag: none;
  cursor: default;
}
html,
body {
  height: 100%;
  width: 100%;
}
p {
  white-space: pre-wrap;
}
/** Useful classes **/
.flexcol {
    display: -webkit-flex;/* Safari, douchebag */
    display: -ms-flexbox;/* IE <3 */
    display: flex;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.flexrow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.flexwrap {
    flex-wrap: wrap;
}
.flexcenter {
    /* Centers child elements */
    justify-content: center;
}
.axxxis {
  /* Axes for graphs, override position at will */
  /* Some parent should be position: relative; of course */
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  bottom: 14%;
  &:nth-of-type(1) {
    left: 4%;
  }
  &:nth-of-type(2) {
    left: 16%;
  }
}
/** Base style **/
body {
  background: #DDD;
  background: linear-gradient(#EFEFEF, #D0D0D0);
  overflow: hidden;
}
p {
  color: #DDD;
}
span.fa {
  margin-right: 10px;
}
/** Page style **/
.huehunt-results {
  height: 100%;
  width: 100%;
  font-size: 0;/* Whitespace fix */
  .loading-icon {
    display: none;
    height: 100%;
    background: radial-gradient(hsl(210, 100%, 30%), hsl(210, 0%, 10%)) repeat scroll 0% 0%;
    p {
      font-size: 30px;
    }
  }
  .side-menu {
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(hsl(200, 100%, 50%), hsl(200, 100%, 25%)) repeat scroll 0% 0%;
    box-shadow: #555 0 0 15px;
    width: 20%;
    height: 100%;
    p.tab {
      padding: 10px 0;
      color: #181818;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: solid 2px #151515;
      cursor: pointer;
      &:hover,
      &.selected {
        background: #151515;
        color: hsl(200, 100%, 50%);
      }
    }
    &.show {
      display: inline-block;
    }
  }
  .content {
    display: inline-block;
    vertical-align: top;
    background: radial-gradient(hsl(210, 100%, 30%), hsl(210, 0%, 10%)) repeat scroll 0% 0%;
    width: 80%;
    height: 100%;
    font-size: 16px;
    color: #DDD;
    & > div {
      display: none;
      height: 100%;
      overflow: hidden;
      & > div {
        height: 100%;
      }
    }
    .tile-container {
      width: 50%;
      height: 50%;
      background: rgba(255, 255, 255, 0.05);
      position: relative;
      &:nth-child(2),
      &:nth-child(3) {
        background: rgba(0, 0, 0, 0.05);
      }
      .data-tile {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        p.data-label {
          font-size: 35px;
          color: #DDD;
          text-shadow: rgba(0, 0, 0, 0.5) 0 0.5px 0;
        }
        .data-data {
          border-radius: 3px;
          width: 150px;
          height: 80px;
          background: linear-gradient(hsl(200, 100%, 50%), hsl(200, 100%, 35%)) repeat scroll 0% 0%;
        }
        .data-data p {
          font-size: 40px;
          color: #181818;
          font-weight: bold;
          text-shadow: rgba(255, 255, 255, 0.5) 0 0.5px 0;
        }
      }
    }
    .content-rankings {
      .hall-of-fame {
        background: rgba(0, 0, 0, 0.15);
        margin: 2%;
        height: 90%;
        padding: 10px;
        overflow-y: auto;
        h2 {
          color: #eee;
          font-size: 1.5em;
          font-family: Poiret One, Arial;
          background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0));
          text-transform: uppercase;
          text-shadow: black 1px 1px 2px;
        }
        h3 {
          color: #eee;
          font-family: Poiret One, Arial;
          margin-bottom: 10px;
          font-size: 1em;
          text-transform: uppercase;
          background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0));
        }
        .score {
          p {
            width: 170px;
            font-size: 1.0em;
            margin: 5px;
          }
          p.username {
            text-align: right;
            text-transform: capitalize;
          }
          .shotcolor {
            width: 25px;
            height: 25px;
            margin: 0 2px;
            border-radius: 4px;
            border: solid #111 1px;
            background: white;
          }
          p.performance {
            text-align: left;
            span.points {
              font-size: 80%;
            }
          }
          &:nth-of-type(1) {
            p {
              font-size: 2em;
              line-height: 1em;
            }
            .shotcolor {
              width: 40px;
              height: 40px;
            }
          }
          &:nth-of-type(2) {
            p {
              font-size: 1.6em;
            }
            .shotcolor {
              width: 35px;
              height: 35px;
            }
          }
          &:nth-of-type(3) {
            p {
              font-size: 1.2em;
            }
            .shotcolor {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    .content-hpc {
      position: relative;
      .axxxis {
        bottom: unset;
        top: 5%;
        &:nth-of-type(1) {
          left: 35%;
        }
        &:nth-of-type(2) {
          left: 51%;
        }
      }
    }
    .content-steamgraph {
      .controls-area {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        margin: 15px;
        padding: 10px;
        p.title {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 5px;
          span.anonymous {
            font-size: 12px;
            font-weight: normal;
            margin-left: 3px;
          }
        }
        .tiles {
          justify-content: center;
          max-height: 150px;
          overflow-y: auto;
          & > div {
            margin: 3px;
            padding: 5px 10px;
            background: rgba(255, 255, 255, 0.1);
            cursor: pointer;
            justify-content: center;
            border-radius: 1.5px;
            position: relative;
            &:hover,
            &.active {
              background: rgba(255, 255, 255, 0.25);
            }
            &.active {
              &::before {
                content:"\f00c";
                font-family: FontAwesome;
                position: absolute;
                top: -3px;
                right: -5px;
                font-size: 12px;
                color: green;
              }
              &:hover::before {
                content:"\f00d";
                color: red;
              }
            }
            //// All players
            &.players-all {
              background: hsla(100, 60%, 60%, 0.2);
              &:hover {
                background: hsla(100, 60%, 40%, 0.5);
              }
              &.active {
                background: hsla(0, 60%, 55%, 0.5);
              }
            }
            //// Hue ranges
            .hue-gradient(@minHue, @maxHue, @sat, @lig) {
              background: linear-gradient(to top right, hsla(@maxHue, @sat, @lig, 0.3), hsla(@minHue, @sat, @lig, 0.3));
              &.active,
              &:hover {
                background: linear-gradient(to top right, hsla(@maxHue, @sat, @lig, 0.9), hsla(@minHue, @sat, @lig, 0.9));
              }
            }
            &.hue-0-30 {
              .hue-gradient(0, 30, 55%, 55%);
            }
            &.hue-30-70 {
              .hue-gradient(30, 70, 55%, 55%);
            }
            &.hue-70-130 {
              .hue-gradient(70, 130, 55%, 55%);
            }
            &.hue-130-190 {
              .hue-gradient(190, 130, 55%, 55%);
            }
            &.hue-190-260 {
              .hue-gradient(190, 260, 55%, 55%);
            }
            &.hue-260-310 {
              .hue-gradient(260, 310, 55%, 55%);
            }
            &.hue-310-360 {
              .hue-gradient(310, 360, 55%, 55%);
            }
            &.hue-0-360 {
              background: linear-gradient(to top right, hsla(0, 0%, 20%, 0.3), hsla(0, 0%, 80%, 0.3));
              &.active,
              &:hover {
                background: linear-gradient(to top right, hsla(0, 0%, 20%, 0.9), hsla(0, 0%, 80%, 0.9));
              }
            }
            &.hue-layers-20,
            &.hue-layers-40,
            &.hue-layers-60 {
              background: linear-gradient(to top right, hsla(0, 50%, 50%, 0.4), hsla(50, 50%, 50%, 0.4), hsla(200, 50%, 50%, 0.4), hsla(260, 50%, 50%, 0.4), hsla(360, 50%, 50%, 0.4));
              &.active,
              &:hover {
                background: linear-gradient(to top right, hsla(0, 50%, 50%, 0.9), hsla(50, 50%, 50%, 0.9), hsla(200, 50%, 50%, 0.9), hsla(260, 50%, 50%, 0.9), hsla(360, 50%, 50%, 0.9));
              }
            }
          }
        }
      }
      .steam-content {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        width: 100%;
        min-height: 50%;
        position: relative;
        .axxxis {
          bottom: 14%;
          &:nth-of-type(1) {
            left: 4%;
          }
          &:nth-of-type(2) {
            left: 16%;
          }
        }
      }
    }
    .content-ohlc {
      position: relative;
      .ohlc .controls {
        .range {
          background: rgba(0, 0, 0, 0.2);
          border-radius: 2px;
          margin: 15px;
          padding: 10px;
          p {
            font-size: 24px;
          }
          input {
            width: 80%;
            margin-top: 10px;
          }
          p.value-insight {
            font-size: 45px;
            font-weight: bold;
          }
        }
      }
      .animate {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        margin-top: -70px;
        margin-left: 23px;
        padding: 10px;
        width: 100px;
        font-size: 20px;
        cursor: pointer;
        p {
          font-weight: bold;
          cursor: pointer;
        }
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
      .axxxis {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
        &:nth-of-type(1) {
          bottom: 12%;
          left: 6.5%;
        }
        &:nth-of-type(2) {
          bottom: 7%;
          left: 9%;
        }
      }
    }
  }
  &.loading {
    .loading-icon {
      display: flex;
    }
    .side-menu,
    .content {
      display: none;
    }
  }
}
